<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>
  <a mat-button [routerLink]="['guarded']">Guarded Component</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button mat-raised-button color="accent" *ngIf="loginDisplay" (click)="logout()">Logout</button>
</mat-toolbar>
<div class="container">
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>

<footer *ngIf="loginDisplay">
  <mat-toolbar>
    <div class="footer-text">
      Angular Demo App with Azure AD Authentication
    </div>
  </mat-toolbar>
</footer>